//colour variables
$grey: #777;
$blue: #58e1c1;
$coral: #e4757a;
$purple: #927bc1;
$green: #63cc82;
$red: #e4757a;

//media breakpoint variable
$brkpnt: 768px;

//map of button backgrounds

$btnbk: (
    'default': $blue,
    'error': $red,
    'info': $purple,
    'success': $green,
    'warning': $coral,
);