/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@each $color in $btnbk #{$button} {
  .btn &.#{$button} {
    background-color: $color;
  }

  &:hover {
    background: lighten($color, 15%);
  }
}

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  &:hover {
    background: lighten($color, 15%);
  }
}

.default {
  background-color: #51ddfc;
}

.error {
  background-color: $coral;
}

.info {
  background-color: $purple;
}

.success {
  background-color: $green;
}

.warning {
  background-color: #fd7856;
}